# Example environment variables (do NOT commit real secrets)
SECRET_KEY=your_secret_key_here
DEBUG=False
DATABASE_URL=postgresql://postgres:HDpiegguwUxsPvBkVjBjWYzytCmjdrHp@crossover.proxy.rlwy.net:35935/railway
DATABASE_PUBLIC_URL=postgresql://postgres:HDpiegguwUxsPvBkVjBjWYzytCmjdrHp@crossover.proxy.rlwy.net:35935/railway
ALLOWED_HOSTS=ableinfra-accounts-production.up.railway.app,.up.railway.app
CSRF_TRUSTED_ORIGINS=https://ableinfra-accounts-production.up.railway.app,https://*.up.railway.app
