
{% extends 'base.html' %}
{% block title %}Client List{% endblock %}

{% block content %}
    <h1>Clients List</h1>
    <table>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Address</th>
        </tr>
        {% for client in clients %}
        <tr>
            <td>{{ client.name }}</td>
            <td>{{ client.email }}</td>
            <td>{{ client.phone }}</td>
            <td>{{ client.address }}</td>
        </tr>
        {% endfor %}
    </table>
    <a href="{% url 'add_client' %}">Add New Client</a>
</body>
</html>
{% endblock %}